.git
**/.git
.github
docs
docker/autotools/README.md
docker/autotools/tests
.worktrees
.artifacts
cmake-build-*
build
build-*
**/.deps
**/.libs
**/.dirstamp
**/*.o
**/*.lo
**/*.a
**/*.la
**/*.so
**/*.dylib
**/*.dll
**/*.exe
aclocal.m4
autom4te.cache
build-aux
m4
config.h
config.h.in
config.log
config.status
configure
libtool
ltfs.pc
Makefile
Makefile.in
**/Makefile
**/Makefile.in
stamp-h1
messages/.lib
conf/ltfs.conf
src/ltfs
src/ltfsmsg.h
src/utils/ltfsck
src/utils/mkltfs
src/utils/ltfsindextool
src/tape_drivers/freebsd/cam/vendor_compat.c
src/tape_drivers/freebsd/cam/ibm_tape.c
src/tape_drivers/freebsd/cam/hp_tape.c
src/tape_drivers/freebsd/cam/quantum_tape.c
src/tape_drivers/generic/file/ibm_tape.c
src/tape_drivers/linux/lin_tape/vendor_compat.c
src/tape_drivers/linux/lin_tape/ibm_tape.c
src/tape_drivers/linux/lin_tape/hp_tape.c
src/tape_drivers/linux/lin_tape/quantum_tape.c
src/tape_drivers/linux/sg/vendor_compat.c
src/tape_drivers/linux/sg/ibm_tape.c
src/tape_drivers/linux/sg/hp_tape.c
src/tape_drivers/linux/sg/quantum_tape.c
src/tape_drivers/linux/sg/open_factor.c
src/tape_drivers/netbsd/ibm_tape.c
src/tape_drivers/netbsd/scsipi-ibmtape/vendor_compat.c
src/tape_drivers/netbsd/scsipi-ibmtape/ibm_tape.c
src/tape_drivers/netbsd/scsipi-ibmtape/hp_tape.c
src/tape_drivers/netbsd/scsipi-ibmtape/quantum_tape.c
src/tape_drivers/osx/iokit/vendor_compat.c
src/tape_drivers/osx/iokit/ibm_tape.c
src/tape_drivers/osx/iokit/hp_tape.c
src/tape_drivers/osx/iokit/quantum_tape.c
.DS_Store
GPATH
GRTAGS
GTAGS
TAGS
tags
*~
